<div class="box">
  <p *ngIf="pizza.discount_price" class="discount">
    - {{ pizza.discount_price }}%
  </p>
  <img [src]="'data:image/jpg;base64,' + pizza.picture" alt="" />
  <h4>{{ pizza.name }}</h4>
  <p class="ingredients">{{ formatedIngredients }}</p>
  <p class="price">
    <span [ngClass]="{ newPrice: pizza.discount_price > 0 }"
      >{{ pizza.price }} Ft</span
    >
    <span *ngIf="pizza.discount_price" class="discountPrice"
      >{{ pizza.price - pizza.price * (pizza.discount_price / 100) }} Ft</span
    >
  </p>
  <button (click)="addToCart(pizza)" class="btn btn-new"><i class="fa fa-cart-plus"></i> Add to Cart</button>
</div>
