<div class="box">
    <p *ngIf="pizza.discount_percent" class="discount">
        - {{ pizza.discount_percent }}%
    </p>
    <img [src]="'data:image/jpg;base64,' + pizza.picture" alt="" />
    <h4>{{ pizza.name }}</h4>
    <p class="ingredients">{{ formatedIngredients }}</p>
    <p class="price">
        <span [ngClass]="{ newPrice: pizza.discount_percent > 0 }">{{ pizza.price }} Ft</span
    >
    <span *ngIf="pizza.discount_percent" class="discountPrice"
      >{{ pizza.price - pizza.price * (pizza.discount_percent / 100) }} Ft</span
    >
  </p>
  <button (click)="addToCart(pizza)" class="btn btn-new"><i class="fa fa-cart-plus"></i> Add to Cart</button>
</div>