<h1>Orders to be delivered</h1>
<div *ngFor="let delivery of deliveries; let i = index" class="card mb-2">
  <h3 class="card-header">{{ i + 1 }}. Delivery</h3>
  <div class="card-body">
    <ul class="checkbox list-group mb-2" *ngFor="let order of delivery.orders">
      <li class="list-group-item">
        <input type="checkbox" name="order" value="order.order_id" />
        {{ order.city }}, {{ order.street }} {{ order.house_number }}
        <span *ngIf="order.other">{{ order.other }}</span>

        <div class="row mt-1">
          <div class="col-6">
            <h4 class="card-header">
              Pizzas:
            </h4>
            <ul class="list-group">
              <li
                *ngFor="let pizza of processPizzas(order.pizzas)"
                class="list-group-item"
              >
                {{ pizza.name }}: x{{ pizza.count }}
              </li>
            </ul>
          </div>
          <div *ngIf="order.comment != ''" class="col-6">
            <h4 class="card-header">
                Comment:
            </h4>
            <p class="list-group">{{ order.comment }}</p>
          </div>
        </div>
      </li>
    </ul>
    <button (click)="deliveryDone(delivery.delivery_id)" class="btn btn-success btn-block">Delivery done</button>
  </div>
</div>

<h4 *ngIf="deliveries?.length == 0 && loaded">No Delivery Found</h4>

<h4 *ngIf="!loaded">Loading Deliveries...</h4>