<div id="user-footer">
    <div class="container footer-container">
        <div class="open-schedule">
            <h3>Delivery schedule:</h3>
            <ul>
                <li><p>Monday - Thursday: 8:00 - 22:00</p></li>
                <li><p>Friday: 8:00 - 21:00</p></li>
                <li><p>Saturday: 9:00 - 21:00</p></li>
                <li><p>Sunday: 10:00 - 20:00</p></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contact:</h3>
            <p><i class="fa fa-envelope"></i> contact@onlinepizzeria.com</p>
            <p><i class="fa fa-phone"></i> 06 20 456-87-54</p>
            <p><i class="fa fa-home"></i> Eger, Oak street 15.</p>
        </div>
    </div>
</div>

<footer id="main-footer">
    <p>&copy; {{ currentYear }} - Online Pizzeria Kft.</p>
</footer>