<nav class="main-nav">
    <div class="container">
        <div class="logo"><img src="../../assets/img/Pizzeria-logo.png" alt=""></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pizzas" routerLinkActive="active"><i class="fa fa-pizza-slice"></i> Pizzas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart" routerLinkActive="active"><i class="fa fa-shopping-cart"></i> Cart <span class="numberCircle">{{ 0 }}</span></a>
            </li>
        </ul>
    </div>
</nav>
