.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem 4rem;
}

@media(max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0rem;
    }
}

@media(max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 2rem 0rem;
    }
}